<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post details</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="container">
    <h1 th:text="${post.title}"></h1>

    <p class="small-text">
        Author: <span th:text="${post.author}"></span>
    </p>

    <p class="small-text">
        Published: <span th:text="${post.publishedAt}"></span>
    </p>

    <hr>

    <p th:text="${post.content}"></p>

    <br>
    <a href="/">← Back to list</a>
</div>
</body>
</html>